<?xml version="1.0"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <add id="Pynarae_Verify::root"
         title="Pynarae"
         module="Pynarae_Verify"
         sortOrder="950"
         resource="Pynarae_Verify::root"/>
    <add id="Pynarae_Verify::codes_menu"
         title="Verify Codes"
         module="Pynarae_Verify"
         sortOrder="10"
         parent="Pynarae_Verify::root"
         action="pynarae_verify/code/index"
         resource="Pynarae_Verify::codes"/>
    <add id="Pynarae_Verify::logs_menu"
         title="Scan Logs"
         module="Pynarae_Verify"
         sortOrder="20"
         parent="Pynarae_Verify::root"
         action="pynarae_verify/log/index"
         resource="Pynarae_Verify::logs"/>
    <add id="Pynarae_Verify::config_menu"
         title="Settings"
         module="Pynarae_Verify"
         sortOrder="30"
         parent="Pynarae_Verify::root"
         action="adminhtml/system_config/edit/section/pynarae_verify"
         resource="Pynarae_Verify::config"/>
</menu>
