<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pynarae" translate="label" sortOrder="950">
            <label>Pynarae</label>
        </tab>

        <section id="pynarae_verify"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Product Verify</label>
            <tab>pynarae</tab>
            <resource>Pynarae_Verify::config</resource>

            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>

                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="page_title"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Page Title</label>
                </field>

                <field id="intro_text"
                       translate="label"
                       type="textarea"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Intro Text</label>
                </field>

                <field id="first_scan_message"
                       translate="label"
                       type="textarea"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>First Scan Message</label>
                </field>

                <field id="repeat_scan_message"
                       translate="label"
                       type="textarea"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Repeat Scan Message</label>
                </field>

                <field id="invalid_message"
                       translate="label"
                       type="textarea"
                       sortOrder="60"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Invalid Message</label>
                </field>

                <field id="suspicious_threshold"
                       translate="label"
                       type="text"
                       sortOrder="70"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Suspicious Threshold</label>
                    <comment>When scan count reaches this value, a stronger repeated-scan warning is shown.</comment>
                </field>

                <field id="show_product_sku"
                       translate="label"
                       type="select"
                       sortOrder="80"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Product SKU</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_batch_no"
                       translate="label"
                       type="select"
                       sortOrder="90"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Batch Number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_scan_count"
                       translate="label"
                       type="select"
                       sortOrder="100"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Scan Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
